{include file="common/header" /}
{include file="common/menu" /}
<section class="Hui-article-box">
<div class="pd-20">
  <!-- <form action="{:url('Jurisdiction/amstt')}" method="post" class="form form-horizontal" id="form-user-add"> -->
  <h2><font color="red">已拥有的角色</font></h2>
      <p><input type="checkbox" name="checkss" value=""> 123
    <P class="dex"></P>
    <div class="row cl">
      <div class="col-9 col-offset-2">
        <input class="btn btn-primary radius del"  value="&nbsp;&nbsp;删除&nbsp;&nbsp;">
      </div>
    </div>
    <hr style="margin-top:25px">
    <h2><font color="red">未拥有的角色</font></h2>
    <p><input type="checkbox" name="checks" value=""> 222</p>
    <P class="box"></P>
    <div class="row cl">
      <div class="col-9 col-offset-2">
        <input class="btn btn-primary radius sub"  value="&nbsp;&nbsp;添加&nbsp;&nbsp;">
      </div>
    </div>
  <!-- </form> -->
</div>
</section>
<!--_footer 作为公共模版分离出去--> 
<script type="text/javascript" src="/thinkphp/public/static/lib/jquery/1.9.1/jquery.min.js"></script> 
<!-- <script type="text/javascript" src="/thinkphp/public/static/lib/layer/2.4/layer.js"></script> -->
<!-- <script type="text/javascript" src="/thinkphp/public/static/static/h-ui/js/H-ui.js"></script>  -->
<!-- <script type="text/javascript" src="/thinkphp/public/static/static/h-ui.admin/js/H-ui.admin.page.js"></script>  -->
<!--/_footer /作为公共模版分离出去--> 

<!--请在下方写此页面业务相关的脚本--> 
<script type="text/javascript" src="/thinkphp/public/static/lib/jquery.validation/1.14.0/jquery.validate.js"></script> 
<script type="text/javascript" src="/thinkphp/public/static/lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="/thinkphp/public/static/lib/jquery.validation/1.14.0/messages_zh.js"></script> 
<script type="text/javascript">
$(function(){
	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});
	
	
});
//删除角色
$('.del').click(function(){
    var spCodesTemp = "";
      $('input:checkbox[name=checkss]:checked').each(function(i){
       if(0==i){
        spCodesTemp = $(this).val();
        $(this).parent().remove();
        $('.box').html($(this).parent());
        if(this.checked){
          this.checked=false;
        }
       }else{
        spCodesTemp += (","+$(this).val());
        $(this).parent().remove();
        $('.box').html($(this).parent());
        if(this.checked){
          this.checked=false;
        }
       }
      });
        $.ajax({
          type: "POST",
          url: "http://www.duoduoguanli.com/thinkphp/public/index.php/index/jurisdiction/del_role?",
          data: {spCodesTemp:spCodesTemp},
          success: function(msg){
            alert(msg);
          }
        });
      $("#txt_spCodes").val(spCodesTemp); 
  })
//删除角色
$('.sub').click(function(){
    var spCodesTemp = "";
      $('input:checkbox[name=checks]:checked').each(function(i){
       if(0==i){
        spCodesTemp = $(this).val();
        $(this).parent().remove();
        $('.dex').html($(this).parent());
        if(this.checked){
          this.checked=false;
        }
       }else{
        spCodesTemp += (","+$(this).val());
        $(this).parent().remove();
        $('.dex').html($(this).parent());
        if(this.checked){
          this.checked=false;
        }
       }
      });
        $.ajax({
          type: "POST",
          url: "http://www.duoduoguanli.com/thinkphp/public/index.php/index/jurisdiction/add_role?",
          data: {spCodesTemp:spCodesTemp},
          success: function(msg){
            if (msg == "0") {
              if(confirm("确定去登陆吗?")){
                location.href="http://www.duoduoguanli.com/thinkphp/public/index.php/index/Login/index";
              } else {
                return;
              }  

            }
          }
        });

  })
</script>
</body>
</html>
{include file="common/footer" /}