{include file="common/header" /}
{include file="common/menu" /}
<section class="Hui-article-box">
	<nav class="breadcrumb"><i class="Hui-iconfont"></i> 首页 <span class="c-gray en">&gt;</span> 产品管理 <span class="c-gray en">&gt;</span> 产品管理 <a title="刷新" href="javascript:location.replace(location.href);" style="line-height:1.6em;margin-top:3px" class="btn btn-success radius r"><i class="Hui-iconfont"></i></a></nav>
	<div class="Hui-article">
		<article class="cl pd-20">
			<div class="cl pd-5 bg-1 bk-gray"> <span class="l"> <a class="btn btn-danger radius" onclick="datadel()" href="javascript:;"><i class="Hui-iconfont"></i> 批量删除</a> <a  href="{:url('Product/product_add')}" class="btn btn-primary radius"><i class="Hui-iconfont"></i> 添加产品</a> </span> <span class="r">共有数据：<strong>{$count}</strong> 条</span> </div>
			<div class="mt-10">
			<div class="text-c" style="margin-bottom:10px"> 
				<input type="text" class="input-text" style="width:250px" placeholder=" 图片名称" id="" name="">
				<button type="submit" class="btn btn-success" id="" name=""><i class="Hui-iconfont"></i> 搜索</button>
			</div>
			<table class="table table-border table-bordered table-bg table-hover table-sort dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
				<thead>
					<tr class="text-c" role="row">
						<th width="40" class="sorting_disabled" rowspan="1" colspan="1" style="width: 40px;" aria-label="">
							<input type="checkbox" value="" name="">
						</th>
						<th width="80" class="sorting_desc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 40px;" aria-sort="descending" aria-label="ID: 升序排列">ID
						</th>
						<th width="100" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 100px;" aria-label="分类: 升序排列">文章标题</th>
						<th width="100" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 50px;" aria-label="封面: 升序排列">简略标题</th>
						<th width="100" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 100px;" aria-label="封面: 升序排列">图片</th>
						<th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 63px;" aria-label="图片名称: 升序排列">分类ID</th>
						<th width="150" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 50px;" aria-label="Tags: 升序排列">排序值</th>
						<th width="150" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 80px;" aria-label="更新时间: 升序排列">是否允许评论</th>
						<th width="60" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 60px;" aria-label="发布状态: 升序排列">产品关键字</th>
						<th width="60" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 160px;" aria-label="发布状态: 升序排列">添加时间</th>
						<th width="60" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 60px;" aria-label="发布状态: 升序排列">审核状态</th>
						<th width="100" class="sorting_disabled" rowspan="1" colspan="1" style="width: 60px;" aria-label="操作">操作
						</th>
					</tr>
				</thead>
					<tbody>
					{volist name='data' id='user'}
					<tr class="text-c odd" role="row">
							<td><input type="checkbox" value="" name=""></td>
							<td class="sorting_1">{$user.id}</td>
							<td>{$user.title}</td>
							<td>{$user.brief_title}</td>
							<td><a onclick="picture_edit('图库编辑','picture-show.html','10001')" href="javascript:;"><img width="100" src="{$user.image}" class="picture-thumb"></a></td>
							<td class="text-l"><a onclick="picture_edit('图库编辑','picture-show.html','10001')" href="javascript:;" class="maincolor">{$user.type_id}</a></td>
							<td class="text-c">{$user.order_num}</td>
							<td>{$user.comment}</td>
							<td>{$user.article_kwd}</td>
							<td>{$user.add_time}</td>
							<td class="ben td-status" urls="{$user.id}">{$user.status}</td>
							<td class="td-manage">
								<a  title="发布" href="javascript:;" onclick="{$user.ss}" style="text-decoration:none" class="asd">
								<i class="btns Hui-iconfont">{$user.img}</i>
								</a>

								<a title="编辑" href="javascript:;" onclick="picture_edit('图库编辑','picture-add.html','10001')" class="ml-5" style="text-decoration:none">
								<i class="Hui-iconfont"></i>
								</a> 

								<a title="删除" href="javascript:;" onclick="picture_del(this,'10001')" class="ml-5" style="text-decoration:none">
								<i class="Hui-iconfont"></i>
								</a>
								</td>
						</tr>
						{/volist}
						</tbody>
				</table>
					<style type="text/css">
					.one ul li{float: left;} 
					</style>
				<div class="one">
				{$page}
				</div>
			</div>
		</article>
	</div>
</section>
<script type="text/javascript" src="/thinkphp/public/static/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<!-- <script type="text/javascript" src="/thinkphp/public/static/lib/datatables/1.10.0/jquery.dataTables.min.js"></script> -->
<script type="text/javascript" src="/thinkphp/public/static/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
$('.table-sort').dataTable({
	"aaSorting": [[ 1, "desc" ]],//默认第几个排序
	"bStateSave": true,//状态保存
	"aoColumnDefs": [
	  //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
	  {"orderable":false,"aTargets":[0,8]}// 制定列不参与排序
	]
});
/*图片-添加*/
function picture_add(title,url){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}
/*图片-查看*/
function picture_show(title,url,id){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}
/*图片-审核*/
function picture_shenhe(obj,id){
	layer.confirm('审核文章？', {
		btn: ['通过','不通过'], 
		shade: false
	},
	function(){
		$(obj).parents("tr").find(".td-manage").prepend('<a class="c-primary" onClick="picture_start(this,id)" href="javascript:;" title="申请上线">申请上线</a>');
		$(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已发布</span>');
		$(obj).remove();
		layer.msg('已发布', {icon:6,time:1000});
	},
	function(){
		$(obj).parents("tr").find(".td-manage").prepend('<a class="c-primary" onClick="picture_shenqing(this,id)" href="javascript:;" title="申请上线">申请上线</a>');
		$(obj).parents("tr").find(".td-status").html('<span class="label label-danger radius">未通过</span>');
		$(obj).remove();
    	layer.msg('未通过', {icon:5,time:1000});
	});	
}
$('.td-manage').click(function(){
	alert($(this).html());
})
/*图片-下架*/
function picture_stop(obj,id){
	layer.confirm('确认要下架吗？',function(index){
		var id=($(obj).parents("tr").find(".td-status").attr('urls'));
		$.ajax({
		   type: "POST",
		   url: "{:url('Product/picture_stop')}",
		   data: {id:id},
		   success: function(msg){
		     if (msg == 1) {
		     	$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="picture_start(this,id)" href="javascript:;" title="发布"><i class="Hui-iconfont">&#xe603;</i></a>');
				$(obj).parents("tr").find(".td-status").html('<span class="label label-defaunt radius">已下架</span>');
				$(obj).remove();
				layer.msg('已下架!',{icon: 5,time:1000});
		     } else {
		     	alert('失败');
		     }
		   }
		});
		
		
	});
}

/*图片-发布*/
function picture_start(obj,id){
	layer.confirm('确认要发布吗？',function(index){
		var id = ($(obj).parents("tr").find(".td-status").attr('urls'));

		$.ajax({
		   type: "POST",
		   url: "{:url('Product/picture_start')}",
		   data: {id:id},
		   success: function(msg){
		     if (msg == 1) {
		     	$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="picture_stop(this,id)" href="javascript:;" title="下架"><i class="Hui-iconfont">&#xe6de;</i></a>');
				$(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已发布</span>');
				$(obj).remove();
				layer.msg('已发布!',{icon: 6,time:1000});
		     } else {
		     	alert('失败');
		     }
		   }
		});


		
	});
}
/*图片-申请上线*/
function picture_shenqing(obj,id){
	$(obj).parents("tr").find(".td-status").html('<span class="label label-default radius">待审核</span>');
	$(obj).parents("tr").find(".td-manage").html("");
	layer.msg('已提交申请，耐心等待审核!', {icon: 1,time:2000});
}
/*图片-编辑*/
function picture_edit(title,url,id){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}
/*图片-删除*/
function picture_del(obj,id){
	layer.confirm('确认要删除吗？',function(index){
		var id = ($(obj).parents("tr").find(".td-status").attr('urls'));
		$.ajax({
		    type: "POST",
		    url: "{:url('Product/del_article')}",
		    data: {id:id},
		    success: function(msg){
		    	$(obj).parents("tr").remove();
				layer.msg('已删除!',{icon:1,time:1000});
		    }
		});
		
	});
}
</script
{include file="common/footer" /}
